/*====================================================================================================
    Merge
    Zusammenführung der Style-Module
    Dient der Dezentralisierung
    
    Datei: merge.css
    Datum: 02.11.2015
    Autor: Tobias & Leon
====================================================================================================*/	
    
/*====================================================================================================
    Importe
====================================================================================================*/
    
    @import url(regionen.css);
    @import url(formular.css);
    @import url(styles.css);

/*====================================================================================================

    E N D E

====================================================================================================*/