/*====================================================================================================
    Regionen
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/	

@media screen {
    
    div.regionen img {
        width: 35%;
        padding-left: 2%;
    }
        /*position: fixed;*/
    
    div.regionen h2{
        margin-left: 1%;
        
    }
    
    div.regionen p {
        width: 60%;
        padding-right: 2%;
        padding-left: 1%;
    }
    

} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/