/*====================================================================================================
    Regionen
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/	

@media screen {
    
    ul.highlights {
        list-style-type: none /* entfernt die Aufzählungszeichen der Listenelemente */
    }
    
} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/