/*====================================================================================================
    Regionen
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/	

@media screen {
    div.regionen img {
        width: 40%;
    }
    
    div.regionen p {
        width: 60%;
    }
    
    
} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/