/*====================================================================================================
    Styles
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/

@media screen {

    /*.startpage{
       background-color: rgb (20, 20, 20);
       background-size: cover;
        background-image: url(../pictures/landscape01.jpg);
    }*/
    #drueber{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }

    #Slideshow{
        height: 100vh;
    }

    #slice1{
        background-image: url(../pictures/landscape01.jpg);
        background-size: cover; 
        height: 100vh;
    }
    #slice2{
        background-image: url(../pictures/landscape02.jpg);
        background-size: cover; 
        height: 100vh;
    }
    #slice3{
        background-image: url(../pictures/landscape03.jpg);
        background-size: cover; 
        height: 100vh;
    }
    #slice4{
        background-image: url(../pictures/landscape04.jpg);
        background-size: cover; 
        height: 100vh;
    }
    #slice5{
        background-image: url(../pictures/landscape05.jpg);
        background-size: cover; 
        height: 100vh;
    }

    #slice6{
        background-image: url(../pictures/landscape06.jpg);
        background-size: cover; 
        height: 100vh;
    }

    #logo{
        width: 28%;
        padding-left: 37%; 
        padding-top: 10%; 
    }

    #startpfeil{
        width: 6%;
        padding-top: 15%;
        padding-left: 48%;
    }


} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/