/*====================================================================================================
    Styles
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/

@media screen {

    .startpage{
       background-color: rgb (20, 20, 20);
       background-size: cover;
        background-image: url(../pictures/landscape01.jpg);
    }

    #slice1{
        background-image: url(../pictures/landscape01.jpg);
        background-size: cover; 
    }
      #slice2{
        background-image: url(../pictures/landscape02.jpg);
    }
      #slice3{
        background-image: url(../pictures/landscape03.jpg);
    }
    #slice4{
        background-image: url(../pictures/landscape04.jpg);
    }
    #slice5{
        background-image: url(../pictures/landscape05.jpg);
    }
    #slice6{
        background-image: url(../pictures/landscape06.jpg);
    }

    #logo{
        width: 28%;
        padding-left: 37%; 
        padding-top: 10%; 
    }

    #startpfeil{
        width: 6%;
        padding-top: 15%;
        padding-left: 48%;
    }


} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/