/*====================================================================================================
    Kontakformular
    
    Datei: kontakt.css
    Datum: 22.10.2015
    Autor: Tobi Wan
====================================================================================================*/

@media screen {

/*====================================================================================================

====================================================================================================*/

    div.kontaktformular {
        color: white;
    }
    
    form.kontaktformular {
        /*background-color: #eeeeee;*/
        background-color:  rgb(29, 49, 76);
        width: 440px;
        padding: 1em;
        margin-bottom: 2em;
        line-height: 1.2;
    }
    
    form > div {
        margin-bottom: 1em;
    }
    
    label {
        display: inline-block;
        width: 125px;
        vertical-align: top;
        text-align: right;
        cursor: pointer;
        margin-bottom: 0.25em;
    }
    
    input[type="text"], input[type="email"], textarea {
        width: 280px;
        padding: 0.25em;
        margin-bottom: 1em;
    }
    
    textarea {
        max-width: 280px;
        min-width: 280px;
        min-height: 7em;
    }
    
    input:focus, textarea:focus {
        background-color: #ffeda0;
    }
    
    input[type="submit"] {
        margin-left: 130px;
    }
    
/*====================================================================================================

====================================================================================================*/  
    
} /*Ende qmedia*/

/*====================================================================================================
    E N D E
====================================================================================================*/