/*===================================================================================================
    CSS-Datei für die Tabelle mit den Trainingszeiten

    Datei: table-training.css
    Autor: Tobias, Leon
    Datum: 26.10.2015
===================================================================================================*/

@charset "UTF-8";

table{
	width: 600px;
	padding-left: 20px;
}

/*===================================================================================================

    E N D E

===================================================================================================*/