/*====================================================================================================
    Regionen
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/	

@media screen {

    body h2{
        margin: 0;
        font-weight: 300;
        font-size: 600%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: rgb(255, 255, 255);
    }
    body h3{
        width: 60%;
        clear: both;
        padding-top: 2%;
        margin-left: 4%;
        font-weight: 400;
        font-size: 175%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(255, 255, 255);
    }

    body p{
        margin-top: 2%;
        font-size: 120%;
        font-weight: 300;
        clear: both;
        line-height: 200%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(255, 255, 255);
    }
        /*position: fixed;*/
    
    div.regionen p {
        width: 60%;
        margin-left: 4%;
    }

    .regionen img {
        /*!... Karte: siehe styles.css ...!*/
        margin-top: 4%;
        margin-left: 4%;
        float: left;
        width: 35%;
    }

    .regionen .contentbutton{
        width: 6%;
        margin-left: 0;
        margin-top: 5%;
        padding-left: 2%;
        padding: 1% 1% 1% 1%;
    }
    .regionen .contentbutton:hover{
        width: 7%;
    }

    button:hover{
        background-color: rgb(235, 195, 59);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    

} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/