/*====================================================================================================
    Styles
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/

@media screen {

	html, body {
        margin: 0;
        padding: 0;
        min-height: 100%;
        width: 100%;
        position: relative;
    }
    
    header{
        height: 0;
        width: 0;
    }

    main {
    	width: 100%;
    	height: 100%;
    }

    .startpage {
    	width: 100%;
    	height: 100vh;
        background-color: rgb(32, 44, 36);
    }


    .regionen {
    	width: 100%;
    	height: 100%;
        background-color: rgb(32, 44, 36);
    }

    .region {
    	width: 100%;
    	height: 100vh;
    	padding-top: 3%;
    }

    #karte{
        max-width: 20%;
        margin-top: 30%;
        margin-left: 72%;
        position: absolute;
    }


} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/