/*====================================================================================================
    Styles
    Styles für die Regionen Neuseelands
    
    Datei: regionen.css
    Datum: 08.11.2015
    Autor: Tobias & Leon
====================================================================================================*/

@media screen {

	html, body {
        margin: 0;
        padding: 0;
        min-height: 100%;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(235, 195, 59);
        position: relative;
    }

    main {
    	width: 100%;
    	height: 100%;
    }

    .startpage {
    	width: 100%;
    	height: 100vh;
        background-color: rgb(32, 44, 36);
    }


    .regionen {
    	width: 100%;
    	height: 100%;
        background-color: rgb(32, 44, 36);
    }

    .region {
    	width: 100%;
    	height: 100vh;
    	padding-top: 5%;
    }

    #karte{
        padding-top: 0;
        max-width: 20%;
        margin-top: 20%;
        margin-left: 72%;
        position: absolute;
    }

    /**
    Formular
    **/
    
    
    #formular{
        height: 100vh;
        background-color: rgb(32, 44, 36);
    }
    form p {
        font-weight: 400;
        font-size: 120%;
        text-align: center;

    }
    .newsFormular{
        margin-top: 5%;
    }
    .formzeile{
        padding-left: 35%;
        margin: 1%;
        width: 40%;
        display: block;
    }
    .formIcon{
        width: 4%; 
        float: right;
        padding-top: 1%;
        margin-right: 20%;
    }
    input{
        margin-top: 1%;
        padding: 3px;
        width: 70%;
        border-radius: 5px;
        border: 2px solid rgb(235, 195, 59);
    }
    
    #absendenButton{
        background-color: rgb(235, 195, 59);
        border: none;
        border-radius: 5px;
        color: black;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        float: right;
        margin-right: 28%;
    }
    #absendenButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    }
    .warnung{
        float: right;
        position: absolute;
        margin-left: 35%;
        color: red;
        font-weight: 700;
    }
    label{
        font-size: 110%;
        font-weight: 600;
    }

} /* Ende @media - nicht löschen */

/*====================================================================================================

    E N D E

====================================================================================================*/