/*===================================================================================================
    CSS-Datei für die Navigationsleiste

    Datei: navigation.css
    Autor: Tobias, Leon
    Datum: 26.10.2015
===================================================================================================*/

@media screen {

} /*Ende qmedia*/

/*===================================================================================================

    E N D E

===================================================================================================*/