.modal{
    color: rgb(100,100,100) !important;
    text-align: center;
}
.modal .form_table{
    display: inline-block;
}
.modal .form_table td {
    display: block;
}
.modal .form_table tr{
    background: none;
}
.modal .form_table input{
    color: rgb(100,100,100);
    width: 100%;
}
.modal .form_table select{
    color: rgb(100,100,100);
    width: 100%;
}


.modal-content a{
        background-color: rgb(213, 167, 11);
        border: none;
        border-radius: 1px;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
}
.modal-content a:hover{
    background-color: rgb(186, 33, 33);
}

.modal-content form a:hover{
    background-color: rgb(33, 186, 74);
}
a input{
    height: 0;
    padding: 0;
    margin: 0;
}




/*MEDIA QUERY PHONE*/
@media screen and (max-width: 500px){
    
.modal{
    color: rgb(100,100,100) !important;
    text-align: center;
}
    
.form_table{
    padding-left: 0;
}
.modal .form_table td {
    display: block;
    padding-left: 0 !important;
}
.modal .form_table input{
    color: rgb(100,100,100);
    width: 100%;
}
.modal .form_table select{
    color: rgb(100,100,100);
    width: 100%;
}
    
}